* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: crimson;
}

#app {
  height: 100vh;
  width: 100%;
}

.main-wrap {
  background-color: white;
  height: 100%;
}

.rosso {
  color: red;
}

.verde {
  color: green;
}

.blu {
  color: blue;
}

.animal {
  width: 100%;
  height: 50%;
  object-fit: cover;
}